body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.6em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

header {
    border-bottom: 3px solid #f4f4f4
}

footer {
    border-top: 3px solid #f4f4f4;
    text-align: center;
    padding-top: 5px;
}

main {
    padding-bottom: 20px;
}

.start {
    display: inline-block;
    color: #666666;
    background: #f4f4f4;
    border: 1px dotted #cccccc;
    padding: 6px 13px;
    margin-top: 10px;
}

.current {
    padding: 10px;
    background: #f4f4f4;
    border: #000000 dotted 1px;
    margin: 20px 0 10px 0;
}

label {
    display: inline-block;
    width: 108px;
}

input[type="text"] {
    width: 97%;
    padding: 4px;
    border-radius: 3px;
    border: 1px #000000 solid;
}

input[type="number"] {
    width: 50px;
    padding: 4px;
    border-radius: 3px;
    border: 1px #000000 solid;
}
@media only screen and (max-width: 960px) {
    .container {
        width: 80%;
    }
}